@model ReflectionIT.Mvc.Paging.PagingList<VendasLanches.Models.Order>

@{
    ViewData["Title"] = "Pedidos";
}

<h3>Pedidos</h3>

<form method="get" class="form-inline">
    <input name="filter" class="form-control" placeholder="filtro"
           value="@Model.RouteValue!["Filter"]" />
    <button type="submit" class="btn btn-info">
        <span class="glyphicon glyphicon-search" aria-hidden="true">
            Procurar
        </span>
    </button>
</form>

Total de Pedidos: @Model.TotalRecordCount
<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Cliente:</th>
            <th>Telefone:</th>
            <th>E-Mail:</th>
            <th>Valor:</th>
            <th>Itens:</th>
            <th>Data Compra:</th>
            <th>Data Entrega:</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>@item.Client</td>
                <td>@item.Phone</td>
                <td>@item.EMail</td>
                <td>@item.TotalOrder.ToString("N")</td>
                <td align="center">@item.Items</td>
                <td align="center">@item.ShippingDate.ToString("dd/MM/yyy")</td>
                <td align="center">@item.DeliveryDate.ToString("dd/MM/yyy")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Alterar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Dados</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a> |
                    @* <a asp-action="OrderSnacks" asp-route-id="@item.Id">Itens</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>
