@model VendasLanches.ViewModels.OrderSnackViewModel

@{
    ViewData["Title"] = "OrderSnacks";
    double totalOrder = 0.0;
}

<h3>Itens do Pedido</h3>
<hr />

<h5>Pedido: @Html.DisplayFor(model => Model.Order.Id)</h5>
<h5>Cliente: @Html.DisplayFor(model => Model.Order.Client)</h5>
<h5>Compra: @Html.DisplayFor(model => Model.Order.ShippingDate)</h5>
<h5>Envio: @Html.DisplayFor(model => Model.Order.DeliveryDate)</h5>

<table class="table">
    @foreach(var item in Model.Order.OrderItems!) {
        totalOrder += (item.Snack.Price * item.Quantity);

        <tr>
            <td align="right">
                <h5>@Html.DisplayFor(modelItem => item.Snack.Name)</h5>
            </td>
            <td align="right">
                <img src="~/images/snacks/@item.Snack.Image" class="img-fluid"
                height="100" width="100" />
            </td>
            <td align="right">
                <h5>@string.Format("{0:C}", item.Snack.Price)</h5>
            </td>
            <td align="right">
                <h5>@Html.DisplayFor(modelItem => item.Quantity)</h5>
            </td>
        </tr>
    }

    <tr>
        <td colspan="2">&nbsp;</td>
        <td align="right">
            <h4>Total do Pedido: @string.Format("{0:C}", @totalOrder)</h4>
        </td>
    </tr>
</table>

<a asp-action="Index" class="btn btn-outline-info">Voltar</a>