@model SnackListViewModel

<div class="container-fluid">
    <div class="row">
        <h3>@ViewData["Title"]</h3>
        <h6>@ViewData["Date"]</h6>
    </div>
</div>

<hr />
<h6>@ViewBag.Text @ViewBag.Total</h6>
<hr />

<div class="container">
    <div class="row">
        @foreach (Snack snack in Model.Snacks) {
            <partial name="_SnacksResume" for="@snack"/>
        }
    </div>
</div>
