@model CartViewModel

<div class="container">
    <div class="row">
        
@*         <div class="col-1 m-1 align-items-left">
            <img src="~/images/icons/cart-icon.jpg" />
        </div>
        <div class="col-2 m-1 align-items-left">
            <h5>Seu carrinho: </h5>
        </div>
 *@
        <div class="row col-md-5">
            <span class="d-block col-md-1">
                <img src="~/images/icons/cart-icon.jpg" />
            </span>
                <span class="d-block col-md-4">
                <h6>Seu carrinho: </h6>
            </span>
        </div>
        <p></p>

        <table class="table table-bordered table-striped">

            <thead>
                <th>Quantidade</th>
                <th>Lanche</th>
                <th class="text-right">Preço</th>
                <th class="text-right">Subtotal</th>
                <th></th>
            </thead>

            <tbody>
                @foreach (CartItem item in Model.Cart.CartItems) {
                    <tr>
                        <td class="text-center col-1">@item.Quantity</td>
                        <td class="text-left">@item.SnackName</td>
                        <td class="text-right col-1">@item.Snack.Price.ToString("c")</td>
                        <td class="text-right col-1">
                            @((item.Quantity * item.Snack.Price).ToString("c"))
                        </td>

                        <td class="text-center col-1">
                            <a asp-controller="Cart" asp-action="RemoveItemFromCart"
                               asp-route-snackId="@item.Snack.Id">
                                <img src="~/images/icons/trash-icon.png" />
                            </a>
                        </td>
                    </tr>
                }
            </tbody>

            <tfoot>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                    @Model.CartTotal.ToString("c")
            </td>
            </tfoot>

        </table>

        <div class="text-right">
            <div class="btn-group">
                <a class="btn btn-success" asp-controller="Order"
                   asp-action="Checkout">Concluir Pedido</a>
                &nbsp;&nbsp;&nbsp;
                <a class="btn btn-primary" asp-controller="Snack"
                   asp-action="List">Continuar Comprando</a>
            </div>
        </div>

    </div>
</div>